<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="tabs mx-auto mb-0 clearfix" id="tab-login-register" style="max-width: 500px;">

                <div class="tab-container">

                    <div class="tab-content" id="tab-login">
                        <div class="card mb-0">
                            <div class="card-body" style="padding: 40px;">
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mb-0">

                                    <h3>Login to your Account</h3>

                                    <div *ngIf="submitted && loginForm.invalid" class="alert alert-danger">
                                        Todos os campos são obrigatórios.
                                      </div>
        
                                    <div *ngIf="errorMessage" class="alert alert-danger" style="padding: 4px;">{{ errorMessage }}</div>

                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="login-form-username">User*</label>
                                            <input formControlName="username" class="form-control">
                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="login-form-password">Password*</label>
                                            <input formControlName="password" type="password" class="form-control" >
                                        </div>

                                        <div class="col-12 form-group">
                                            <button class="button button-3d button-black m-0" id="login-form-submit"
                                                name="login-form-submit" value="login">Login</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section><!-- #content end -->